.manage-doctor-container {
    padding: 5px;
    overflow-y: visible;


    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: orange;
        cursor: pointer;
        color: #002795;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: #0063EC;
        cursor: pointer;
        color: white;

        &:hover {
            opacity: 0.9;
        }
    }

    .more-infor {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    ::-webkit-scrollbar {
        overflow: scroll;
        overflow-y: hidden
    }
}